<!-- Footer -->
<footer> 
    
<div class="container" style="background-color:blueviolet">
    <h3 style="color:white; text-align:center;">Quote<span style="color:chartreuse; text-align:center;font-weight:900">sophy</span> TV</h3>
</div>
    <!-- Footer Elements -->
    <div class="container-fluid" >
        
  
      <!--Grid row-->
      <div class="row" style="text-align:center">
  
        <!--Grid column-->
        <div class="col-md-4">
         <span>1.0 Words Matter ~ <a href="https://en.wikipedia.org/wiki/Barack_Obama" target="_blank" title="Barack Hussein Obama II is an American politician who served as the 44th president of the United States from 2009 to 2017. A member of the Democratic Party, Obama was the first African-American president of the United States.">Barrack Obama</a></span>
          <!-- Video -->
          <div class="embed-responsive embed-responsive-16by9 mb-4  youtube">
            <iframe width="350" height="315" src="https://www.youtube.com/embed/jlprRzcG5Hs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
  
        </div>
        <div class="col-md-4 ">
            <span >2.0 Pale Blue Dot ~ <a href="https://en.wikipedia.org/wiki/Carl_Sagan"  target="_blank" title="Carl Edward Sagan was an American astronomer, planetary scientist, cosmologist, astrophysicist, astrobiologist, author, and science communicator.">Carl Sagan</a></span>
  
            <!-- Video -->
            <div class="embed-responsive embed-responsive-16by9 mb-4 youtube " >
                <iframe width="560" height="315" src="https://www.youtube.com/embed/3F2NeH_-f34" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
    
          </div>
          <div class="col-md-4">
            <span>3.0 Man vs Earth ~ <a href="https://www.youtube.com/channel/UCDgUAAHgsV2fFZQm2fIWBnA"  target="_blank" ><abbr title="Richard Williams, better known by his stage name Prince Ea, is an American rapper, spoken word artist, and civil rights activist from St Louis, MO.">Prince Ea</abbr></a></span>
  
            <!-- Video -->
            <div class="embed-responsive embed-responsive-16by9 mb-4 youtube">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/B-nEYsyRlYo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
    
          </div>
        <!--Grid column-->
  
      </div>
      <!--Grid row-->
  
    </div>
    <!-- <div class="container" style="background-color:red">
    <marquee behavior="alternate">  <h3 style="color:white;font-weight:800">Never Give up on something you believe in!</h3></marquee>
  </div> -->
    <!-- Footer Elements -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2022 Copyright:
      <a href="https://www.linkedin.com/in/kevin-malomba/" target="_blank" title="Kevin Malomba is a full stack developer and a biochemist."> A Kevin Malomba Production</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->