<!-- <div class="container"> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-static">
    <a class="navbar-brand" href="#" style><span style="font-size:140%;" title="Welcome to Quotesophy. Your number one quotes website">Quote</span><span style="color:chartreuse; font-weight:bold; font-size:140%;">sophy</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="Quotesophy" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li> -->
      </ul> 
      <span class="navbar-text">
        <span style="color:gold;font-weight:bolder" title="about Quotesophy">About Us</span>&nbsp;&nbsp;&nbsp;
        <span style="color:gold;font-weight:bolder" title="Become a quotesopher">Sign Up</span>&nbsp;&nbsp;&nbsp;
        <i class="fa-solid fa-user" style="font-size:1.5rem; color:black"title="Log In"></i>
      </span>
    </div> 
  </nav>
<!-- </div> -->
  