<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <p *ngFor="let quote of quotes; let i=index">
                <span class="card">
                    <span class="quotes">
                        <div *ngIf="highest()===quote.upVote && quote.upVote>0;then highlight else noHighlight"></div>
                            <ng-template #highlight>
                                <div appQuoteHighlight class="card-header"><span><i class="fa-solid fa-face-grin-stars"></i>&nbsp;Top Rated</span><span class="theme">Theme: {{quote.quoteTheme}}</span> <button
                                        (click)='toggleDetails(i)' title="Resize"><i
                                            class="fa-regular fa-window-maximize"></i></button><br>
                                </div>
                            </ng-template>

                            <ng-template #noHighlight>
                                <div class="card-header"><span class="theme">Theme: {{quote.quoteTheme}}</span> <button
                                        (click)='toggleDetails(i)' title="Resize"><i
                                            class="fa-regular fa-window-maximize"></i></button><br>
                                </div>      
                            </ng-template>
                        

                        <div class="card-body">
                            <app-quote-details *ngIf='quote.showQuoteDetails' [quote]='quote'> </app-quote-details>
                        </div>

                        <div class="card-footer" *ngIf='quote.quoteText'>

                            <button title="Like Quote" class="like" (click)="upvote(i)"> {{quote.upVote}}&nbsp;&nbsp;<i
                                    class="fa-solid fa-thumbs-up"></i></button> <span> </span>
                            <button title=" Dislike Quote" class="dislike"
                                (click)="downvote(i)">{{quote.downVote}}&nbsp;&nbsp;<i
                                    class="fa-solid fa-thumbs-down"></i></button>
                            <button (click)='quoteDelete(i)' title="delete quote"><i
                                    class="fa-solid fa-trash"></i></button>
                        </div>

                    </span>
                </span>
            </p>
        </div>
        <div class="col-md-6">

            <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
        </div>
    </div><br><br>
    <app-footer></app-footer>


    <!--  -->

    <!-- <app-nav-bar></app-nav-bar> -->
    <!-- <div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
        <p *ngFor="let quote of quotes">
           <span class="card"> 
               <span class="quotes"> 
                   <div class="card-header">Theme: {{quote.quoteTheme}}</div>
                   <div class="card-body">
                    <app-quote-details [quote]='quote'></app-quote-details>
                </div>
                <div class="card-footer"> 
                    <button title="Like Quote" class="like"><i class="fa-solid fa-thumbs-up"></i></button>
                    <button title=" Dislike Quote" class="dislike"><i class="fa-solid fa-thumbs-down"></i></button>
                    <button title="delete quote"><i class="fa-solid fa-trash"></i></button >
                        </div>
                
        </span>
        </span>
        </p>
    </div>
    <div class="col-md-6">

        <app-quote-form></app-quote-form>
    </div>
    </div>
     -->






</div>