.form{
    text-align:center;
    margin-top:3%;
    width:50%;
    margin-left: 14%;
}
.form a i{
    position: fixed;
    margin-left:15%;
    font-size:4rem;
    cursor:grabbing;
    /* z-index: -1; */

}
.form a i:hover{
    color:gold;
}